<div class="modal fade" id="post-{{post.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{post.title}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Bu Postu Silmek İstediğinizden Emin Misiniz ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
        <form action="" method="POST">
            {% csrf_token %}
            <input type="hidden" name="postId" value="{{post.id}}">
            <input type="submit" value="Sil" class="btn btn-danger" name="sil">
        </form>
        </div>
      </div>
    </div>
  </div>

