{% extends "index.html" %}
{% load static %}


{% block content %}
    <form action="" method="POST" class="w-50 m-auto border p-4">
        {% csrf_token %}
        
        <label class="mt-2 mb-1" for="">Eski Şifre</label>
        <input type="password" name="eski" class="form-control">

        <label class="mt-2 mb-1" for="">Yeni Şifre</label>
        <input type="password" name="yeni" class="form-control">

        <label class="mt-2 mb-1" for="">Yeni Şifre Onay</label>
        <input type="password" name="confirm" class="form-control">

        <input type="submit" value="Güncelle" class="btn btn-outline-success mt-3">

    </form>
{% endblock content %}