{% extends "index.html" %}
{% load static %}
{% load humanize %}

{% block title %}
    <title>Kullanıcı : {{profil.name}} {{profil.surname}}</title>
{% endblock title %}


{% block content %}
    <div class="profil-info mb-5">
        <!--? profil bilgileri  -->
        <div class="d-flex justify-content-between">
            <div class="profil-image d-flex">
                <img src="{{profil.image.url}}" alt="{{profil.name}}" class="rounded-5 mt-1" width="50" height="50">
                <h1 class="fs-4 ms-3">
                    {{profil.name}} {{profil.surname}}
                    <br>
                    <small class="text-muted">@{{profil.user.username}}</small>
                </h1>
            </div>

            {% if profil == request.user.profile %}
            <div>
                <a href="{% url 'update'  %}" class="btn btn-outline-light me-2">Profil Düzenle</a>
                <a href="{% url 'reset' %}" class="btn btn-outline-light ms-2">Şifre Değiştir</a>
            </div>

            {% else %}
            {% endif %}

        </div>


        <div class="profil-info d-flex justify-content-between">
            <div>
                <p>
                    {{profil.bio}}
                </p>
                <small class="text-muted">Katılma Tarihi : {{profil.created_at|naturalday}}</small>
            </div>

            <div class="followers">
                <div class="followShodow">
                    <small class="text-muted me-3">Takipçi : {{profil.followers.all.count}} </small>
                    <small class="text-muted">Takip : {{profil.follow.all.count}} </small>
                </div>
                <br>

                {% if profil == request.user.profile %}
                
                {% else %}
                <form action="{% url 'profil' profil.slug %}" method="POST">
                    {% csrf_token %}
                    {% if request.user.profile in profil.followers.all %}
                        <input type="submit" name="takip" value="Takipten Çık" class="btn btn-outline-light mt-3">
                    {% else %}
                        <input type="submit" name="takip" value="Takip Et" class="btn btn-outline-light mt-3">
                    {% endif %}

                </form>
                {% endif %}

            </div>

        </div>

    </div>

    <!--! Paylaşım ve Beğeni -->
    <div class="container">
        <div class="tab">
            <button class="tablinks active" onclick="openCity(event, 'paylasim')">Paylaşımlar</button>
            <button class="tablinks" onclick="openCity(event, 'begen')">Beğeniler</button>
        </div>

        <div id="paylasim" class="tabcontent show">
            {% for post in paylasim %}
            <div class="row justify-content-center mt-5">
                <div class="col-md-6 my-2 position-relative paylasimShodow p-3">
                    <button type="button" class="btn btn-close position-absolute end-0 top-0 me-2 mt-2" data-bs-toggle="modal" data-bs-target="#post-{{post.id}}">
                    </button>
                    {% include "partials/_modal.html" %}


                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="postId" value="{{post.id}}">
                        <input type="submit" value="" class="btn">
                    </form>

                    <div class="d-flex">
                        <img src="{{post.owner.image.url}}" alt="" class="rounded-5 me-3" width="60px" height="60">
                        <p>
                            <a href="{% url 'profil' post.owner.slug %}">
                                {{post.owner.name}} {{post.owner.surname|slice:"1"}}.
                            </a>
                            <br>
                            <small class="text-muted">@{{post.owner.user.username}}</small>
                        </p>
                    </div>

                    <h4 class="mt-2 text-secondary">{{post.title}}</h4>

                    <p>
                        <a href="{% url 'detail' post.id post.slug %}" class="text-decoration-none text-light">
                            {{post.content|safe}}
                        </a>
                    </p>

                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="postId" value="{{post.id}}">
                        <input type="submit" name="like" value="Like ({{post.like.all.count}})" class="btn btn-success mt-1 mb-1">
                        <input type="submit" name="dislike" value="Dislike ({{post.dislike.all.count}})" class="btn btn-danger mt-1 mb-1">
                    </form>

                    <small class="text-muted">{{post.created_at|naturaltime}}</small>
                </div>
            </div>
            {% endfor %}
        </div>
        
        <div id="begen" class="tabcontent">
            {% for post in begen %}
            <div class="row justify-content-center mt-5">
                <div class="col-md-6 my-2 paylasimShodow p-3">
                    <div class="d-flex">
                        <img src="{{post.owner.image.url}}" alt="" class="rounded-5 me-3" width="60px" height="60">
                        <p>
                            <a href="{% url 'profil' post.owner.slug %}">
                                {{post.owner.name}} {{post.owner.surname|slice:"1"}}.
                            </a>
                            <br>
                            <small class="text-muted">@{{post.owner.user.username}}</small>
                        </p>
                    </div>

                    <h4 class="mt-2 text-secondary">{{post.title}}</h4>

                    <p>
                        <a href="{% url 'detail' post.id post.slug %}" class="text-decoration-none text-light">
                            {{post.content|safe}}
                        </a>
                    </p>

                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="postId" value="{{post.id}}">
                        <input type="submit" name="like" value="Like ({{post.like.all.count}})" class="btn btn-success mt-1 mb-1">
                        <input type="submit" name="dislike" value="Dislike ({{post.dislike.all.count}})" class="btn btn-danger mt-1 mb-1">
                    </form>

                    <small class="text-muted">{{post.created_at|naturaltime}}</small>
                </div>
            </div>
            {% endfor %}
        </div>
    
    </div>

    <script>
        function openCity(evt, cityName) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(cityName).style.display = "block";
          evt.currentTarget.className += " active";
        }
    </script>

{% endblock content %}